<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>Adicionar Postagem</title>

</head>
<body>
    
    <h1>Adicionar nova Postagem</h1>

    <form action="/add" method="POST">
        <label for="title">Título: </label>
        <input type="text" name="title" id="title" required>
        <br>

        <label for="content">Conteúdo: </label>
        <textarea name="content" id="content" required></textarea>
        <br>

        <button type="submit">Adicionar</button>
    </form>

    <a href="/post_usuario">Voltar à lista de postagens</a>

</body>
</html>