<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Home</title>
</head>
<body>

    <header class="header">
        <a href="/home?admin=true">Nando Company</a>

        <nav>
            <a href="/listaJogos">Jogos</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
        </nav>
    </header>

    <div class="background_home">
        <div class="home">
            <h3>Bem-vindo, <%= user.email %>!</h3>
            <h1>Nando Games</h1>
            <nav>
                <a href="/post_usuario">Suas Postagens</a>
            </nav>
        </div>
    </div>

</body>

</html>