<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"">
    
    <title>Blog</title>

</head>
<body>

        <div id="container">
        <h1 id="titulo">Seus Posts</h1>
        <ul class="postagens">    
            <% posts.forEach(function(post) {%>
                <li class="postagens2">    
                    <a href="/post/<%= post.id %>" class="post">
                        <%= post.title %>
                    </a>
                </li>
            <% }); %>
        </ul>
        <a href="/add" class="adicionar">Adicionar nova postagem</a>
    </div>

</body>
</html>