<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"">
    <title><%= post.title %></title>

</head>
<body>
    
    <div class="post_titulo">
        <h1><%= post.title %></h1>
    </div>

    <div class="post_conteudo">
        <p><%= post.content %></p>
        <a href="/post_usuario">Voltar à lista de postagens</a>
    </div>

</body>
</html>