* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #090a2b 10%, #11476b 79%);
}

.header {
    background-color: #091c29;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: solid 3px black;
}

nav {
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}


.home {
    margin-top: 2em;
}

.home h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    color: #ecf0f1;
    text-shadow: -5px 5px 2px #000;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

.home nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4em;
}

.home a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 2em;
    padding: 12px 10px;
    border: solid 3px black;
    box-shadow: -2px 2px 1px black;
    background-color: rgb(11, 9, 102);
    color: rgb(212, 199, 199);
    width: 10em;
    text-decoration: none;
}

#container {
    position: absolute;
    top: 20%;
    left: 35%;
}

#titulo {
    box-shadow: -2px -2px 3px white,
        3px 3px 1px black;
    color: white;
    text-shadow: -3px 3px 1px black;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    margin-top: -1em;
    margin-bottom: 2em;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.postagens {
    box-shadow: -1px -1px 1px rgb(217, 159, 231),
        3px 3px 1px black;
    background-color: rgb(70, 100, 128);
    padding: 20px;
    border: solid 2px black;
    border-radius: 15px;
    margin-bottom: 40px;
}

.postagens2 {
    background-color: rgb(89, 161, 163);
    border: solid 3px black;
    border-radius: 5px;
    padding: 15px;
    list-style-type: none;
    margin: 10px 0px 20px 0px;
    text-align: center;
}

.postagens2 a {
    text-decoration: none;
    color: antiquewhite;
    text-shadow: -2px 2px 1px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.adicionar {
    text-decoration: none;
    background-color: rgb(89, 161, 163);
    border: solid 3px black;
    color: antiquewhite;
    text-shadow: -2px 2px 1px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 100px;
}

/* Conteúdo dos Posts */
.post_titulo {
    background: rgba(107, 99, 99, 0.54);
    max-width: 550px;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 3px black,
        -4px -4px 30px -20px white;
    margin: 1em 0 0 22.5em;
}

.post_titulo h1 {
    margin: 1em 0;
    text-align: center;
    font-size: 54px;
    font-family: Arial, Helvetica, sans-serif;
    color: #bb0600;
    text-shadow: -4px 4px 1px black;
    padding: 11px 0;
    padding-bottom: 14px;
}

.post_conteudo {
    height: auto;
    max-width: 600px;
    padding: 2em;
    padding-top: 1em;
    margin: 4.5em 0 0 19em;
    background: rgba(180, 180, 180, 0.34);
    border-radius: 8px;
    box-shadow: -1px 1px 1px 3px rgb(31, 31, 31);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(180, 180, 180, 0.78);
}

.post_conteudo p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 2em;
}

.post_conteudo a {
    color: rgb(240, 218, 218);
    padding: 10px;
    background: rgba(63, 57, 57, 0.54);
    border: solid 2px rgb(34, 33, 33);
    border-radius: 7px;
    text-decoration: none;
    font-size: 18px;
}

.post_conteudo a:hover {
    transition: 0.5s;
    background: rgba(107, 99, 99, 0.54);
}

/* page de avaliar */
.container_avaliar {
    background-color: rgb(5, 5, 44);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    height: 330vh;
    box-shadow: 0 0 1px 25px rgb(5, 5, 44);
}

.container_avaliar h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    letter-spacing: 1px;
    padding: 10px;
    color: rgb(219, 208, 208);
    text-shadow: -3px 3px 1px rgb(109, 46, 109);
    -webkit-text-stroke: 1px rgb(109, 46, 109);
}

.container_avaliar h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: rgb(219, 208, 208);
    text-shadow: -3px 3px 1px rgb(41, 4, 100);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin: 1em 0;
}

.container_avaliar ul {
    background-color: rgb(2, 2, 27);
    box-shadow: -7px 7px 8px -3px rgb(180, 175, 175);
    border: solid 3px black;
    width: 800px;
    border-radius: 20px;
    padding-bottom: 40px;
    padding-left: 75px;
    margin-left: 11.75em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5em;
}

.container_avaliar li {
    color: white;
    margin: 2em 5em 0 1em;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 16px;
}

.container_avaliar button {
    padding: 30px;
    color: transparent;
    border-radius: 8px;
    border: solid 4px black;
    background-color: rgb(49, 0, 128);
    box-shadow: -4px 4px 1px 2px black;
}

.container_avaliar button:hover {
    transition: 0.4s;
    background-color: rgb(145, 13, 13);
    cursor: pointer;
}

.nota {
    padding: 20px;
    border-radius: 10px;
    border: solid 3px black;
    background-color: rgb(2, 2, 27);
    box-shadow: -5px 5px 1px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

/* Nota Final */

.nota_final {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 13, 61);
    width: 600px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 1px 350px rgb(5, 5, 44);
    margin-top: 8em;
    margin-left: 21em;
}

.nota_final h1 {
    color: rgb(228, 220, 173);
    font-size: 56px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px rgb(150, 130, 16);
    text-shadow: -4px 4px 1px rgb(150, 130, 16);
}

.nota_final p {
    color: rgb(218, 148, 18);
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
}

.nota_final a {
    color: white;
    margin-top: 3em;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.caixa_nota {
    padding: 20px;
    background-color: rgb(170, 169, 212);
    border: solid 5px black;
    box-shadow: -5px 5px 1px black;
    width: 100px;
    margin-left: 2.7em;
}

.voltar {
    border: solid 3px black;
    box-shadow: -3px 3px 1px black;
    width: 40%;
    padding: 7px;
    margin-top: 3em;
    margin-left: 3.7em;
    background-color: rgb(5, 5, 44);
}